.main-container {
  padding-top: 100px;
  padding-bottom: 60px;
}

.avatar-intro-container .avatar {
  width: 200px;
  border-radius: 50%;
  background-color: #F1F1F1;
}

.projects-container {
  padding-top: 100px;
}
.projects-container .projects-list-container .icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}

.github-container {
  padding-top: 50px;
}

.travel-container {
  padding-top: 60px;
}
.travel-container .travel-list-container .row {
  justify-content: center;
}
.travel-container .travel-list-container .background-image {
  width: 120px;
  height: 90px;
  background-size: cover;
}
@media (min-width: 768px) {
  .travel-container .travel-list-container .background-image {
    width: 180px;
    height: 135px;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .travel-container .travel-list-container .background-image {
    width: 240px;
    height: 180px;
    background-size: cover;
  }
}