.github-stats-container {
  padding-top: 50px;
}

.github-stats-container h3 a {
  /* Bootstrap navbar height is 70px */
  padding-top: 70px;
  color: #121314;
  text-decoration: none;
}
.github-stats-container h3 a span {
  display: inline-block;
  line-height: 0.5em;
  border-bottom: rgba(105, 105, 105, 0.3) 0.35em solid;
}